.profile{
    display: flex;
    align-items: center;
    gap: 10px;

}
.button{
    background-color: blue;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    padding: 4px 10px;
    cursor: pointer;
}
.signout{

}